:root {
  --background-color: #26252b;
  --heading-color: #e3e9f0;
  --text-color: #c9d1d9;
  --link-color: #fff;
  --visited-color: #26252b;
}

@font-face {
  font-family: 'Motion Control';
  src: local('Motion Control Bold'), url('/fonts/static/MotionControl-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Motion Control';
  src: local('Motion Control Italic'), url('/fonts/static/MotionControl-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Silom';
  src: local('Silom'), url('/fonts/static/Silom.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: local('Space Grotesk Regular'), url('/fonts/static/SpaceGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch';
  src: local('Chakra Petch Regular'), url('/fonts/static/ChakraPetch-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch';
  src: local('Chakra Petch Bold'), url('/fonts/static/ChakraPetch-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch';
  src: local('Chakra Petch BoldItalic'), url('/fonts/static/ChakraPetch-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch';
  src: local('Chakra Petch Italic'), url('/fonts/static/ChakraPetch-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: local('Barlow Regular'), url('/fonts/static/Barlow-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: local('Barlow Italic'), url('/fonts/static/Barlow-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: local('Barlow Bold'), url('/fonts/static/Barlow-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: local('Barlow Bold Italic'), url('/fonts/static/Barlow-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}




body {
  font-family: 'Barlow', Georgia, serif;
  font-size: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
  font-weight: 600;
}

h1, h2 {
  font-family: 'Chakra Petch', Georgia, serif;
}

h2 {
  // font-size: 1.6rem !important;
  // margin-top: 4rem !important;
}

h2:not(:first-of-type) {
  margin-top: 3rem !important;
}

h3 {
  font-family: 'Barlow', Georgia, serif;
  font-size: 1.2rem !important;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  min-width: initial;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;

  font-size: 0.8rem !important;

  @media (max-width: 768px) {
    font-size: 0.75rem !important;
  }
}


.main ul li::before {
  content: "\21b3" !important;
}

tr:nth-child(even) td {
  background-color: #2e2d33;
}

tr:nth-child(odd) td {
  background-color: var(--background-color);
}

thead {
  display: none; 
}

button {
  border: none;
  background: inherit;
  text-decoration: underline;
  color: var(--heading-color);
  cursor: pointer;
}

button:focus {
  outline: 2px solid var(--link-color);
}

img {
  max-width: 100%;
  height: auto;
}

.side-bar .site-nav, 
.side-bar .nav-list, 
.side-bar .nav-list-item, 
.side-bar .nav-list-link {
  font-size: 1.15rem; /* 20px */
  font-family: 'Space Grotesk', Georgia, serif;
}

strong, b {
  // font-family: 'Silom', Georgia, serif;
  // font-size-adjust: 0.52;
}

.main-header {
  border-color: #fcee0a !important;
}

header, .site-header {
  border-color: #fcee0a !important;

  @media (max-width: 768px) {
    .site-header {
      border-bottom: 1px solid #fcee0a !important;
    }
  }
}

@media (max-width: 768px) {
  .main-header {
    border-color: var(--border-color) !important;
  }
}
